<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header>
    <head th:include="header-footer.html :: header_container"></head>
    <div th:replace="header-footer.html :: navbar_container"></div>
</header>

<!-- Default form contact -->
<form class="border p-3" th:action="@{/user/add}" th:object="${user}"
      method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <p class="h5">Save User</p>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                                <label class="form-label" for="form2Example1">Username</label>
                                <input type="text" id="form2Example1" class="form-control" name="username"
                                       th:value="${user?.username}"/>
                        </div>
                        <div class="col-md-6">
                                <label class="form-label" for="inputTitle">Password</label>
                                <input type="text" id="inputTitle" class="form-control" name="password"
                                       th:value="${user?.password}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="form2Example1">Email</label>
                            <input type="text" id="emailInput" class="form-control" name="email"/>
                        </div>
                        <div class="col-md-6 mt-4">
                            <select class="form-select" aria-label="Default select example" name="role">
                                <option selected>Role</option>
                                <option value="HR">HR</option>
                                <option value="Employee">Employee</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-1 text-center">
                <!-- Send button -->
                <a class="btn btn-light p-2"
                   th:href="@{${baseUrl}+'/user/list'}"><span class="material-icons">arrow_back_ios</span> Back</a>
            </div>
            <div class="col-2 text-left">
                <!-- Send button -->
                <button class="btn btn-info p-2" type="submit"><span class="material-icons">save</span> Save</button>
            </div>
        </div>
    </div>
    </div>


</form>
<!-- Default form contact -->

<footer th:include="header-footer.html :: footer_container"></footer>